@import "../../App.css";

.rushmore {
    padding-top: 10%;
    background-color: firebrick;
    height: 100vh;
}

.topic {
    font-size: 48px;
    color: white;
}

.description {
    color: white;
    text-align: left;
    padding: 2ch;
}