.join {
    padding: 8px;
    padding-top: 32px;
    color: white;
    font-size: 24px;
}

.input-container {
    height: 100vh;
    margin-top: 35vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}