.text-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2ch;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2ch;
    width: 80%;
    border-radius: 4px;

}

.text-area-input-container {
    display: flex;
    flex-direction: column;
    gap: 1ch;
    align-items: center;
}

.text-area-input {
    width: 80vw;
    height: 12ch;
}