.App {
  text-align: center;
  background-image: linear-gradient(
    45deg,
    hsl(240deg 100% 20%) 0%,
    hsl(223deg 100% 28%) 11%,
    hsl(217deg 100% 35%) 22%,
    hsl(211deg 100% 39%) 33%,
    hsl(205deg 100% 40%) 44%,
    hsl(195deg 100% 38%) 56%,
    hsl(181deg 100% 33%) 67%,
    hsl(162deg 100% 37%) 78%,
    hsl(145deg 100% 42%) 89%,
    hsl(120deg 85% 49%) 100%
  );
  font-family: "Verdana";
  color: white;
  min-height: 100vh;
}
