body {
  margin: 0px;
}

footer {
  margin: 0px;
}

.body {
  min-height: 94vh;
}

.footer {
  padding: 4px;
  min-height: 4vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.flex-vertical-gap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
}

.flex-horizontal-gap {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.center-align {
  align-items: center;
}

.center-justify {
  justify-content: center;
}