body {
  height: 95vh;
  margin: 0px;
}

footer {
  height: 4vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1vh;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.flex-vertical-gap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
