.log-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    color: white;
    padding: 3ch;
    padding-top: 5ch;
}

.title-container {
    min-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.log-in-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height:100%;
    padding-top: 10%;
}

.login-footer {
    position: absolute;
    bottom: 5%;
    width: 100%;
}

.log-in-title {
    margin-bottom: 2ch;
    font-size: 24px;
}